header {
    width: 100vw;
    height: 170px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-color: #4EA0FF;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

header img {
    height: 60px;
    margin-top: 100px;
    margin-left: 10px;
}

.author {
    color: #8f8f8f;
    font-size: 20px;
    font-weight: 600;
}

.author a {
    color: #20A9E5;
    text-decoration: none;
}

.author span {
    font-size: 15px;
}

.photo {
    margin-top: 15px;
}


.photo p {
    font-size: 10px;
    line-height: 2px;
    margin-top: 2px;
}

.article span {
    background-color: yellow;
}

.article ul {
    padding: 15px;
}

.tab th, .tab td {
    width: 25%;
}

.tab th:nth-child(3), .tab td:nth-child(3) {
    width: 50%;
}


tr{
    float: left;
    width: 100%;
}

tbody tr:nth-child(1), tbody tr:nth-child(3) {
    background-color: #B1E5F2;
}

.tab thead {
    color: white;
    background-color: #20A9E5;
}


